$primary-color:#023B6D;
$primary-light-color:#50678D;
$secondary-color:rgb(13 110 253);
$green-color:rgb(25 135 84);
$pale-green-color:#2ECA6A;
$light-pale-green:#E0F8E9;
$orange-color:#FF771D;
$light-orange-color:#FFECDF;
$red-color:#DC3545;
$light-blue-color:#F6F9FF;
$light-grey-color:#6C757D;
$light-para-color:#919191;
$light-cement-color:#aab7cf;
